@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: vazir;
  src: url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.eot');
  src: url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.eot?#iefix') format('FontName-opentype'),
    url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.woff') format('woff'),
    url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  font-family: vazir, Arial, Helvetica, sans-serif;
}

.dropdownMenu {
  position: absolute;
  top: 150%;
  left: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 60;
  min-width: 160px;
}

.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 35px;
  justify-content: center;
  width: 35px;
  cursor: pointer;
  border: 1px black solid !important;
  border-radius: 8px;
}

@keyframes float2 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-80px);
  }
}

@keyframes drift {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(25px, -25px);
  }
}

.animate-float {
  animation: float2 6s ease-in-out infinite;
}

.animate-drift {
  animation: drift 9s ease-in-out infinite;
}

@supports (backdrop-filter: blur(12px)) or (-webkit-backdrop-filter: blur(12px)) {
  .my-glass {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes floatSlow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-13px);
  }
}

.float-slow {
  animation: floatSlow 4s ease-in-out infinite;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scroll-smooth {
  scroll-behavior: smooth;
}